body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #111111;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-right: 20px; 
  font-size: 1.1em !important;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.logoformat {
  height: 43px;
  width: 179px;
}

.fa-search{
  color: #ffffff;
}

.search-container{
  padding-left: 0px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #696969;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.userlink { 
  color: #CFB53B; 
}

.article-metadata a:hover {
  color: #CFB53B;
  text-decoration: underline;
}

.spacing{
  display:inline-block; 
  margin-left: 15px; 
}

.post-category{
  color: #CFB53B;  
}

.post-category a:hover{
  color: #CFB53B;
  text-decoration: underline;
}

.date-posted {
  text-align: right;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.VideoCall{
  margin: 0 50px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg);
  box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
}