{% extends "blog/base.html" %}
{% block content%}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile' %}">Profile</a>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'purchases' %}">Purchases</a>
        {% if is_instructor %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'user-posts' user.username %}">Posts</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'sales' %}">Sales</a>
        {% endif %}
    </div>
    <h1 class="mb-3">Your Purchases ({{ page_obj.paginator.count}})</h1>
    {% for purchase in purchases %}
        <article class="media content-section">
          <div class="media-body">
              <p class="article-content">You bought the class "{{ purchase.post_bought_from_title }}" for {{ purchase.dollars_string }}.{{ purchase.cents_string }}$ {{ purchase.currency|upper }} on {{ purchase.date_bought }} </p>
              {% if purchase.post_bought_from is not None %}
                  <br><a href="{% url 'post-detail' purchase.post_bought_from.id %}">Go to "{{ purchase.post_bought_from_title }}"</a>
              {% endif %}
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}