{% extends "blog/base.html" %}
{% block content%}
<h1>About NxtKlass</h1>
<article class="media content-section">
    <p class="article-content">NxtKlass is an online platform with the goal of connecting great instructors with amazing students. Our site allow teachers to advertise, receive payment, and deliver classes online (through video calls and streaming) or in person. <br>
        If you are an Instructor looking to hold your classes on our site, we are very excited to have you. Please contact us so we can help you set up your payments and accounts. <br> <br>
        We at NxtKlass are focused on making a great infrastructure for instructors to use, and we are currently working very hard to improve the site for everyone using it. If you have something that does not work the way you want, please contact us with any suggestions or comments. <br>
        Contact Info: <br>
        Email: admin@nxtklass.com   (we will get back to you within one business day) <br>
        Support Line: 647-561-8058
    </p>
</article>
<h1>FAQ</h1>
<article class="media content-section">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          What kind of classes is NxtKlass capable of doing?<br>
          That is a great question, NxtKlass is currently capable of delivering One on One Video call classes as well as pre-recorded videos. We are working on adding live-streamed classes.</li>
      <li class="list-group-item">
          How do I pay for classes?<br>
          All classes that require payment have a button to pay included on the class page. Payments are processed securely using Stripe.</li>
      <li class="list-group-item">
          What is the payment structure for NxtKlass?<br>
          NxtKlass is completely free to sign up and post classes on! Instructors have an unlimited number of classes that they can create. There is a 15% fee on every purchase done on the site, and the remaining money is given to the instructor. That 15% fee helps to allow us to continue to develop great features for everyone on NxtKlass.com</li>
      <li class="list-group-item">
          How do I become an instructor? <br>
          The first step to becoming an instructor on NxtKlass.com is to create an account. Once you have made an account, feel free click on the "Instructor Signup" button or email us at admin@nxtklass.com. We may ask you some questions about what you are looking to teach and try to get an idea of how we can help you the best. We are excited to bring on enthusiastic instructors of all types!</li>
      <li class="list-group-item">
          What is your re-fund policy?<br>
          We are committed to creating the best environment for both instructors and students. For us that means listening to everyone's concerns and trying our hardest to address them. If you do not think your class was of sufficient quality, or there was a technical error, we will refund your purchase 100%.</li>
    </ul>
</article>
{% endblock %}
