{% extends "blog/base.html" %}
{% block content%}
<h1>About Page</h1>
<article class="media content-section">
    <p class="article-content">NxtKlass is an online platform with the goal of connecting great instructors with amazing students. Our site allow teachers to advertise, receive payment, and deliver classes online (through video calls and streaming) or in person. <br> <br> We at NxtKlass are focused on making a great infrastructure for instructors to use. Please contact us with any suggestions or comments. <br> Email: NxtKlass@gmail.com </p>
</article>
{% endblock %}
