{% extends "blog/base.html" %}
{% load static %}

{% block style %}
<!--
<style>
    img {
      width: 360px;
      height: 450px;
      object-fit: contain;
    }
</style>
-->
{% endblock style %}

{% block content%}
 <!---Secondary Navigation Bar --->
<nav class="navbar navbar-expand-md navbar-light bg-light stick-top">
  <div class="container-fluid">
    <div class="navbar" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-home' %}">All Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-category' 'Karate' %}">Karate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-category' 'Art' %}">Art</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-category' 'Music' %}">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post-category' 'Yoga' %}">Yoga</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!---Header Text -->
<div class="container-fluid"> 
<div class="row jumbotron text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p class="lead">Bringing teachers to students and students to teachers. Anywhere. Anytime.</p>
    <p class="lead">With NxtKlass, its easy to deliver classes to your community of students.</p>
  </div>
</div>
</div>

<!---Three Picture Header --->
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="{% url 'post-category' 'Yoga' %}"> <img src="{% static 'images_for_home/yoga.png' %}" class="img-fluid"> </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="{% url 'post-category' 'Karate' %}"> <img src="{% static 'images_for_home/martialarts.png' %}" class="img-fluid"> </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="{% url 'post-category' 'Music' %}"> <img src="{% static 'images_for_home/musician.jpg' %}" class="img-fluid"> </a>
    </div>

  </div>
</div>

<!---Header Text -->
<div class="container-fluid"> 
<div class="row jumbotron text-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p class="lead">Start teaching for FREE! We offer Live One on One Video Calls and Pre-recorded video capabilities. You chose if your classes are free, or payed classes. </p>
  </div>
</div>
</div>

<!--- Two Info Section-->
<div class="container-fluid padding">
<div class="row padding">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="info">
      <p>Interested in becoming a student? <a href="{% url 'login' %}">Click Here</a></p>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <p>Interested in becoming a teacher? <a href="{% url 'instructor_signup' %}">Click Here</a></p>
  </div>
</div>
</div>

<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
  <div class="col-md-6">
    <img class="logoformat" src="{% static 'logoimg/logo2.png' %}">
    <hr class="light">
    <h5>Start learning now!</h5>
    <hr class="light">
    <p>admin@nxtklass.com</p>
  </div>
  <div class="col-md-6">
    <img class="logoformat" src="{% static 'logoimg/logo2.png' %}">
    <hr class="light">
    <h5>Start teaching right away!</h5>
    <hr class="light">
    <p> Support Line: 647-561-8058 </p>
  </div>
    <div class="col-12">
      <hr class="light-100">
      <h5>Copywrite @NxtKlass 2020</h5>
    </div>
</div>
</div>
</footer>


{% endblock content %}