{% extends "blog/base.html" %}
{% block content%}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2 userlink" href="{% url 'user-posts' object.author.username %}">{{ object.author_profile.full_name }}</a>
          <a class="spacing">Category:</a>
            <a class="post-category" href="{% url 'post-category' object.category %}">{{ object.category }}</a>
            <div class="spacing">
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
              {% if user.is_authenticated %}
                {% if object.author == user %}
                  <a class="btn btn-outline-secondary" href="{% url 'post-update' object.id %}">Update Class</a>
                  <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id %}">Delete Class</a>
                {% endif %}
              {% endif %}
            </div>
        </div>
        <h2 class="article-title">{{ object.title }}  ---
        {% if object.is_one_on_one %}
          One on One Class
        {% elif object.is_stream %}
          Live Stream Class
        {% elif object.is_video %}
          Video Class
        {% endif %}
        </h2>
        {% if user.is_authenticated %}
          {% if object.author == user %}
            {% if object.is_purchase %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-sales' object.id %}">Class Users Who Purchased</a>
              <br>
            {% endif %}
          {% endif %}
        {% endif %}
        <p class="article-content"><br>{{ object.content }} </p>
        {% if object.is_purchase %}
          {% if object.is_one_on_one %}
            {% if has_not_been_purchased %}
              <p class="article-content">
              {% if object.is_one_on_one %}
                Take this one on one class! Buy below
              {% elif object.is_stream %}
                {% if object.is_purchase %}
                  Watch this stream! Buy below
                {% else %}
                  Watch this stream for Free!
                {% endif %}
              {% elif object.is_video %}
                Watch this video! Buy below
              {% endif %}
              </p>
              <h2>Buy for <strong>${{ stripe_charge_dollars }}.{{ stripe_charge_cents }}</strong>!</h2>
              {% if user.is_authenticated %}
                {% if object.author != user %}
                  <form action="{% url 'payments-charge' object.author.username object.id %}" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="{{ stripe_description }}"
                        data-amount="{{ stripe_charge }}"
                        data-locale="{{ stripe_locale }}">
                    </script>
                  </form>
                {% endif %}
              {% else %}
                <a class="mr-2" href="{% url 'login' %}?next={{request.path}}">Login to Purchase</a>
              {% endif %}
            {% else %}
              <p>This class has already been purchased</p>
            {% endif %}
          {% else %}
            <p class="article-content">
            {% if object.is_one_on_one %}
              Take this one on one class! Buy below
            {% elif object.is_stream %}
              {% if object.is_purchase %}
                Watch this stream! Buy below
              {% else %}
                Watch this stream for Free!
              {% endif %}
            {% elif object.is_video %}
              {% if object.is_purchase %}
                Watch this video! Buy below
              {% endif %}
            {% endif %}
            </p>
            <h2>Buy for <strong>${{ stripe_charge_dollars }}.{{ stripe_charge_cents }}</strong>!</h2>
            {% if user.is_authenticated %}
              {% if object.author != user %}
                <form action="{% url 'payments-charge' object.author.username object.id %}" method="post">
                  {% csrf_token %}
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{ key }}"
                      data-description="{{ stripe_description }}"
                      data-amount="{{ stripe_charge }}"
                      data-locale="{{ stripe_locale }}">
                  </script>
                </form>
              {% endif %}
            {% else %}
              <a class="mr-2" href="{% url 'login' %}?next={{request.path}}">Login to Purchase</a>
            {% endif %}
          {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
          {% if object.is_purchase %}
            {% if purchased_or_is_author %}
              {% if object.is_video %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'class-video' object.id %}">Watch This Video</a>
              {% endif %}
              {% if object.is_one_on_one %}
                {% if not has_not_been_purchased %}
                  {% if object.author == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'video-call' user_who_purchased.username %}">Start the Video Call</a>
                  {% endif %}
                  {% if user == user_who_purchased %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'video-call' object.author.username %}">Start the Video Call</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% else %}
            {% if object.is_video %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'class-video' object.id %}">Watch This Video</a>
            {% endif %}
            {% if object.is_one_on_one %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'open-video-call' object.title %}">Start the Video Call</a>
            {% endif %}
          {% endif %}
        {% else %}
          <a class="mr-2" href="{% url 'login' %}?next={{request.path}}">Login to Watch the Class</a>
        {% endif %}
      </div>
    </article>
{% endblock content %}