{% extends "blog/base.html" %}
{% load static %}
{% block scripts %}
<script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
{% endblock scripts %}
{% block style %}
<style>
    body {
      display: flex;
      height: 100vh;
      margin: 0;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    video {
      margin: 0 50px;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 0;
      box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
    }
    .copy {
      position: fixed;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
</style>
{% endblock style %}
{% block data_in_body %}
page_user_username="{{ page_user.username }}" user_username="{{ user.username }}"
{% endblock data_in_body %}
{% block video_call%}
  <div class="container-fluid">
    <div class="row text-center">
      <br><br><br><br>
    </div>
    <div class="row text-center">
      <br><br><br><br>
    </div>
    <div class="row text-center">
      <br><br><h2 class="article-title">{{ title }}</h2><br><br>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12" >
        <video class="VideoCall" width='800' id="remoteVideo" autoplay></video>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <video class="VideoCall" width='200' id="localVideo" autoplay muted></video>
      </div>
      {% if class_object.author == user %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <button id="button_end" class="btn btn-outline-danger">End the Video Call</button>
        </div>
      {% endif %}
    </div>
  </div>
  <script>
    var page_user_username = "{{ page_user.username }}";
    var user_username = "{{ user.username }}";

    var object_id = "{{ class_object.id }}";
    var object_title = "{{ class_object.title }}";

    function fn15sec() {
      console.log("calling ajax every 15 seconds");
      $.ajax({
        url: '{% url "check_call" %}',
        data: {
          'pk': object_id
        },
        dataType: 'json',
        success: function (data) {
          console.log(data.is_started);
          if (data.is_started == false) {
            console.log('redirect to home');
            window.location = "/";
          } else {
            console.log('video call is started');
          }
        }
      });

    };
    fn15sec();
    setInterval(fn15sec, 15*1000);

    $("#button_end").click(function () {
      console.log("calling ajax");
      $.ajax({
        url: '{% url "end_call" %}',
        data: {
          'pk': object_id
        },
        dataType: 'json',
        success: function (data) {
          console.log("end_call");
          // redirect
          console.log('/');
          window.location = "/";
        }
      });

    });
  </script>
  <!--
  max-width: calc(50% - 100px);
  import seedrandom from online
  -->
  <script src=//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js></script>
  <script src="{% static 'js/video_chat.js'%}"></script>
{% endblock video_call %}