{% extends "blog/base.html" %}
{% block content%}
<h1>Create Class Step 1</h1>
<article class="media content-section">
    <p>There are three types of classes you can have on NxtKlass: One on One Video Calls, Live-streamed Classes, Pre-uploaded videos <br>
    One on One: <br>
    These classes are meant to replicate a one on one setting with a student. This allows for the most connection between the instructor and the student. When the class starts, the teacher and the student will have a video call together. <br>
    This type of class can have a maximum of one student at a time. The first person to purchase the class will be the student. <br>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'create_one_on_one' %}">Create a One on One Class</a> <br> <br>
    Live-stream: ** Currently In Development ** <br>
    <!--
    These classes are meant to replicate a group lesson environment. Live-streamed classes allow for an instructor to teach many students at the same time. <br>
    This type of class can have a maximum of 20 students watching at a time. You can decide if the stream will require payment or not. <br>
    -->
    As of currently, this feature is not possible yet. We are working hard to add this to the site <br>
    <!--
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'stream_choose_pay' %}">Create a Live Stream Class</a> <br> <br>
    -->
    Pre-uploaded videos: <br>
    These classes are meant for instructors who have already recorded their classes and want students to watch these videos. <br>
    Students that have purchased the class can watch the video at any time. <br>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'create_video' %}">Create a Video Class</a> </p>
</article>
{% endblock %}
